<%layout('layouts/boilerplate')%>

<form action="/books/edit/<%=books.id%>?_method=PUT" method="POST">
    
    <div>
    <label for="Title">Title:</label>
    <input type="text" id="Title" name="Title" value="<%=books.Title%>" >
    </div>
    
    <div>
    <label for="Author">Authors:</label>
    <input type="text" id="Author" name="Author" value="<%=books.Author%>">
    </div>
    
    <div>
    <label for="Year">Year_Of_Publication:</label>
    <input type="text" id="Year" name="Year" value="<%=books.Year_Of_Publication%>">
    </div>
    
    <div>
    <label for="Topic">Topic:</label>
    <input type="text" id="Topic" name="Topic" value="<%=books.Topic%>">
    </div>

    <div>
    <label for="Price">$Price:</label>
    <input type="text" id="Price" name="Price" value="<%=books.Price%>">
    </div>

    <div>
    <button type="submit">Save Changes</button>
    </div>

</form>

<div>
    <h5><a href="/books">Go To Books Page</a></h5>
</div>
