<%layout('layouts/boilerplate')%>

<div class="container">
    <div class="row">
            <div class=" col-6 mt-3 mb-3">
                <h1><%=books.Title%></h1>
                <img class="img-fluid mt-3" src="<%=books.Image %>" alt="">
            </div>
            <div class="col-6 mt-3 mb-3">
                <h3>Details:</h3>
                <div class="card mb-20 mt-3">
                    <h4 class="card-title">Author:<%=books.Author %></h4> 
                </div>
                <div class="card mb-3 mt-3">
                    <h4 class="card-title">Year Published:<%=books.Year_Of_Publication %></h4>
                </div>
                <div class="card mb-3 mt-3">
                    <h4 class="card-title">Topic:<%=books.Topic %></h4>
                </div>
                <div class="card mb-3 mt-3">
                    <h4 class="card-title">Price:$<%=books.Price %></h4>
                </div>
            </div>
    </div>
            <div>    
                <form action="/books/<%=books.id%>?_method=DELETE" method="POST">
                    <button class=" mt-3 btn btn-secondary"type="submit">Delete Book</button>
                </form>
                <h4><a href="/books/edit/<%=books.id%>">Edit</a></h4>
            </div>

             <h5><a href="/books">Go To Books Page</a></h5>
</div>

