<%layout('layouts/boilerplate')%>

<br>
<h1><%=books.Title%></h1>

<br>

<br>

<h3>Details:</h3>
<br>

<h4>Author:<%=books.Author %></h4> 
<h4>Year Published:<%=books.Year_Of_Publication %></h4>
<h4>Topic:<%=books.Topic %></h4>
<h4>Price:$<%=books.Price %></h4>
                
<div>
    <h2><a href="/books">Go To Books Page</a></h2>
</div>


