<%layout('layouts/boilerplate')%>

<br>
<h1><%=books.Title%></h1>

<br>

<br>

<h3>Details:</h3>
<br>

<h4>Author:<%=books.Author %></h4> 
<h4>Year Published:<%=books.Year_Of_Publication %></h4>
<h4>Topic:<%=books.Topic %></h4>
<h4>Price:$<%=books.Price %></h4>
                
<div>
    
    <form action="/books/<%=books.id%>?_method=DELETE" method="POST">
    

        <button type="submit">Delete Book</button>
    </form>
        
<div>
    <h4><a href="/books/edit/<%=books.id%>">Edit</a></h4>
</div>

    <h5><a href="/books">Go To Books Page</a></h5>
</div>

